:root {
  --primaryColor: #000000;
  --secondaryColor: #333333;
  --highlightColor: #d9ff00;
  --defaultBtnColor: #494949;
  --fontColor: #ffffff;
}
body {
  background-color: var(--primaryColor);
  color: var(--fontColor);
}
